/* header */
header {
    background-image: linear-gradient(to bottom, #79340c 0%, #ddbfaa 100%);
}


/* hero_images */
.small_text {
    font-size: 14px;
    line-height: 22px;
}

.section_heading {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.section_content {
    font-size: 16px;
    line-height: 24px;
}

.text_white {
    color: azure;
}

.primary_color {
    color: #e76f51;
}

/* main section */
/* Featured bikes grayscale */
.img_grayscale {
    filter: grayscale(100%);
}

.under_line {
    height: 1px;
    width: 100px;
    margin: auto;
    background-color: #e76f51;
}

/* happy customer */
.review_stars {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Frequently Asked Questions */
.accordion_question {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: 90%
}

/* Our Loan System */
.lone_header_bg {
    background-image: linear-gradient(to bottom, #e28048 0%, #be8a67 100%);
}

.pricr {
    font-size: 30px;
}

ul {
    list-style: none;
}

ul li {
    font-size: 20px;
    color: black;
}

/* Contact */
.contact_icon {
    color: #e76f51;
    font-size: 35px;

}

.button_loan {
    background-image: linear-gradient(to bottom, #e28048 0%, #be8a67 100%);
    color: white;
    border-radius: 10px;
    padding: 9px 25px;
    border: none;
}

.button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF4b92 100%);
    color: white;
    border-radius: 10px;
    padding: 9px 25px;
    border: none;
}

/* footer */
footer {
    background-image: linear-gradient(to bottom, #4424d1 0%, #040113 100%);
    color: azure;
}